.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;
}

.icon-center-vertically {
  display: flex;
  align-items: center;
}

.logo-class {
  height: 64px;
}

.responsive-content {
  overflow: auto;
}


.chevron.rotated {
  transform: rotate(180deg);
}