<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')">




    <mat-nav-list>

      <mat-list-item class="logo-class border-bottom">
        <div class="icon-center-vertically">
          <h1>LOGO</h1>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="icon-center-vertically">
          <mat-icon class="mr-2">home</mat-icon>
          <span>Home</span>
        </div>
      </mat-list-item>



    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()" class="example-icon"
          aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Mean App</span>
        <span class="example-spacer"></span>
        <mat-slide-toggle checked (click)="logout()"><span class="text-light">Log Out</span></mat-slide-toggle>

      </mat-toolbar>
    </p>
    <p>
      <router-outlet></router-outlet>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>