.full-page {
    background: url("../../../assets/images/bg.jpg") no-repeat center fixed;
    filter: saturate(1);
    background-size: cover;
    height: 100%;
    display: flex;
    /* background-color: #673ab7; */
}

.login-card {
    margin: auto;
    width: 300px;
    border: outset;
    padding: 15px;
}

.login-field {
    width: 100%;
}