<div class="full-page">
    <!-- <mat-card class="login-card" *ngIf="view == 'Login'">
        <mat-card-title>
            <u>Login to Mean App</u>
        </mat-card-title>
        <mat-card-content [formGroup]="loginForm">
            <mat-form-field class="login-field">
                <input matInput placeholder="User Name" name="email" formControlName="name" type="email" />
            </mat-form-field>
            <mat-form-field class="login-field">
                <input matInput placeholder="Password" name="password" formControlName="password" type="password" />
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="!this.loginForm.valid" class="login-field"
                (click)="onLogin()" type="submit">
                Login
            </button>
            <p class="m-2">OR</p>
            <button mat-raised-button (click)="view = 'Signup'" class="login-field" type="submit">
                Signup
            </button>
        </mat-card-actions>
    </mat-card> -->

    <section class="gradient-form" *ngIf="view == 'Login'" style="background-color: #b48395;">
        <div class="container py-2 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-3 mx-md-4">
      
                      <div class="text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                          style="width: 185px;" alt="logo">
                          <h4>Please login to your account</h4>
                      </div>
                      <form [formGroup]="loginForm">
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form2Example11">User Name</label>
                          <input type="email" id="form2Example11" class="form-control" formControlName="name"
                            placeholder="Phone number or email address" />
                        </div>
      
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form2Example22">Password</label>
                          <input type="password" id="form2Example22" class="form-control" formControlName="password" />
                        </div>
      
                        <div class="text-center pt-1 mb-5 pb-1">
                          <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button"
                          [disabled]="!this.loginForm.valid"  (click)="onLogin()">Log in</button>
                          <a class="text-muted" href="#!">Forgot password?</a>
                        </div>
      
                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2 mr-1">Don't have an account?</p>
                          <a  href="#" (click)="view = 'Signup'">Register here</a>
                        </div>
      
                      </form>
      
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                      <img src="/assets/login.png" alt="" height="300" width="300">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="vh-100 bg-image" *ngIf="view == 'Signup'"
      style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">Create an account</h2>
    
                  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example1cg">Your Name</label>
                      <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                      [ngClass]="{ 'is-invalid': submitted && signupForm.controls['name'].errors }" formControlName="name"/>
                      <div *ngIf="submitted && signupForm.controls['name'].errors" class="invalid-feedback">
                        <div *ngIf="signupForm.controls['name'].hasError('required')"> Name is required</div>
                    </div>
                    </div>
    
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example3cg">Your Email</label>
                      <input type="email" id="form3Example3cg" class="form-control form-control-lg" formControlName="email"
                      [ngClass]="{ 'is-invalid': submitted && signupForm.controls['email'].errors }"/>
                      <div *ngIf="submitted && signupForm.controls['email'].errors" class="invalid-feedback">
                        <div *ngIf="signupForm.controls['email'].hasError('required')">Email is required</div>
                        <div *ngIf="signupForm.controls['email'].errors">Email must be a valid email address</div>
                    </div>
                    </div>
    
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example4cg">Password</label>
                      <input type="password" id="form3Example4cg" class="form-control form-control-lg" 
                      formControlName="password" [ngClass]="{ 'is-invalid': submitted && signupForm.controls['password'].errors }"/>
                      <div *ngIf="submitted && signupForm.controls['password'].errors" class="invalid-feedback">
                        <div *ngIf="signupForm.controls['password'].hasError('required')">Password is required</div>
                        <div *ngIf="signupForm.controls['password'].hasError('minlength')">Password must be at least 6 characters</div>
                    </div>
                    </div>
    
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                      <input type="password" id="form3Example4cdg" class="form-control form-control-lg" 
                      formControlName="password_repeat" [ngClass]="{ 'is-invalid': submitted && signupForm.controls['password_repeat'].errors }"/>
                      <div *ngIf="submitted && signupForm.controls['password_repeat'].errors" class="invalid-feedback">
                        <div *ngIf="signupForm.controls['password_repeat'].hasError('required')">Password is required</div>
                        <div *ngIf="signupForm.controls['password_repeat'].hasError('minlength')">Password must be at least 6 characters</div>
                        <div *ngIf="signupForm.controls['password_repeat'].value != signupForm.controls['password'].value">Password didn't matched</div>
                    </div>
                      
                      <!-- <span *ngIf="checkPassword === 'true'" class="bg-success">Password Matched!</span>
                          <span *ngIf="checkPassword === 'false'" class="bg-danger">Password Error!</span> -->
                    </div>
    
                    <!-- <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                      <label class="form-check-label" for="form2Example3g">
                        I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                      </label>
                    </div> -->
    
                    <div class="d-flex justify-content-center">
                      <button type="button"
                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                        (click)="onsignup();onSubmit()">Register</button>
                    </div>
    
                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#"
                       (click)="view = 'Login'">Login here</a></p>
    
                  </form>
    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- <mat-card class="login-card" *ngIf="view == 'Signup'">
        <mat-card-title>
            <u>Sign up to Mean App</u>
        </mat-card-title>
        <mat-card-content [formGroup]="signupForm">
            <mat-form-field class="login-field">
                <input matInput placeholder="User Name" name="name" formControlName="name" type="text" />
            </mat-form-field>
            <mat-form-field class="login-field">
                <input matInput placeholder="Email" name="email" formControlName="email" type="email" />
            </mat-form-field>
            <mat-form-field class="login-field">
                <input matInput placeholder="Password" name="password" formControlName="password" type="password" />
            </mat-form-field>
            <mat-form-field class="login-field">
                <input matInput placeholder="Confirm Password" name="password" formControlName="password_repeat"
                    type="password" />
            </mat-form-field>


        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="!this.signupForm.valid" class="login-field"
                (click)="onsignup()" type="submit">
                Signup
            </button>
            <p class="m-2">OR</p>
            <button mat-raised-button (click)="view = 'Login'" class="login-field" type="submit">
                Login
            </button>
        </mat-card-actions>
    </mat-card> -->
</div>